* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background: rgb(3, 0, 31); */
  background: #c6d7eb;
  color: white;
  font-family: "Poppins", sans-serif;
}


